# Node
TZ=UTC
PORT=3333
HOST=localhost
NODE_ENV=development

# App
LOG_LEVEL=info
APP_KEY=
APP_URL=http://${HOST}:${PORT}

# Session
SESSION_DRIVER=cookie

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
# ----------------------------------------
# AI_SERVICE_PROVIDER=aethex|groq|gemini
# AETHEX_AI_TEXT_ENGINE=groq|gemini
# ----------------------------------------
AI_SERVICE_PROVIDER=
AETHEX_AI_TEXT_ENGINE=
GROQ_API_KEY=
AETHEX_API_KEY=
GEMINI_API_KEY=
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=