@layout()
  <div class="hero">
    <h1>NairaBook is an AI-powered ledger for informal retail traders in Nigeria.</h1>
    <h2>
      Features a powerful dashboard to track, filter, and export sales and expenses, alongside monitoring customer debts and product inventory.
    </h2>
    <p>
      Simply record a WhatsApp voice note e.g "I sold two buckets of rice for 6000 Naira." and hit send. Your transaction is recorded as a sale, you get instant feedback with a personalized dashboard link, and your dashboard is updated immediately!
    </p>
    <p>
      You can record a sale, expense, customer credit, credit repayment, and product stock update. You're the boss!
    </p>
    <button class="button">Chat with our WhatsApp bot</button>
  </div>
  {{--
    <div class="cards">
    <a href="https://insiders.adonisjs.com/docs/v7-alpha/introduction" target="_blank">
    <h3>Official Docs &nbsp;›</h3>
    <p>Comprehensive reference for building with AdonisJS</p>
    </a>
    <a href="https://adocasts.com/" target="_blank">
    <h3>Adocasts &nbsp;›</h3>
    <p>Guided video tutorials for everyday development</p>
    </a>
    <a href="https://discord.gg/vDcEjq6" target="_blank">
    <h3>Discord &nbsp;›</h3>
    <p>Connect with developers building with AdonisJS every day</p>
    </a>
    </div>
  --}}
@end
